
@{
    ViewData["Title"] = "Authors";
}


<script src="~/js/Authors.js"></script>
<button id="allAuthorsButton">All Authors</button>

<select id="authorSelect"></select>

<br />
<br />

<div id="authors" style="width: 10in;"></div>
