
@{
    ViewData["Title"] = "Publishers";
}

<script src="~/js/Publishers.js"></script>
<button id="allPublishersButton">All Publishers</button>

<select id="publisherSelect"></select>

<br />
<br />

<div id="publishers" style="width: 10in;"></div>
