
@{
    ViewData["Title"] = "Titles";
}

<script src="~/js/Titles.js"></script>
<button id="allTitlesButton">All Titles</button>

<select id="titleSelect"></select>

<br />
<br />

<div id="titles" style="width: 10in;"></div>